export ERLANG_HOME=/usr/local/lib/erlang
export ERLANG_LIB=${ERLANG_HOME}/lib
export ERTS_HOME=${ERLANG_HOME}/erts-5.9.3.1
export ERTS_INCLUDE=${ERTS_HOME}/include
export ERTS_LIB=${ERTS_HOME}/lib
export ERL_INTERFACE_DIR=${ERLANG_LIB}/erl_interface-3.7.9
export CFLAGS="-I${ERL_INTERFACE_DIR}/include -I${ERTS_INCLUDE}"
export LDFLAGS="-L${ERL_INTERFACE_DIR}/lib -lerl_interface -lei"
export ERL_CFLAGS+="${CFLAGS}"
